.gradient-background {
  background: linear-gradient(300deg, #7b6b43, #7e846b, #a5ae9e);
  background-size: 180% 180%;
  animation: gradient-animation 12s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* ============================================================================== */

.container, h1, h3, h5 {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.chico {
   border: 2px solid black;
   border-radius: 45%;
   box-shadow: 3px 3px 12px #afb1b1;
}

.foot {
   display: flex;
   justify-content: space-around;
}