/* import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=SUSE:wght@100..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


body {
   /* set defaults for cross-browser control */
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;

   /* set my page defaults */
   height: 100vh;
   background-color: #e7e7e7;
   font-family: "SUSE", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-size: 1em;
   font-style: normal;
   text-align: center;
}

/* Set up Header and Footer */
header {
   position: absolute;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100px;
   /* background-image: url("../images/headBack.png"); */
   text-align: left;
}
.headLogo {
   content: url(../images/logos/bodinglesLogo2.png);
   position: absolute;
   top: 20px;
   left: 40px;
   width: 40px;
   height: auto;
   vertical-align: middle;
}
.headTitle {
   position: absolute;
   left: 100px;
   top: 8px;
   color: #3e4b2b;
   font-size: 3.25rem;
   font-weight: bold;
}
.headTitleb {
   position: absolute;
   left: 163px;
   top: 8px;
   color: #8b7c62;
   font-size: 3.25rem;
   font-weight: bold;
}
header sub {
   color: black;
   font-weight: normal;
   font-size: .2em;
}
.headSlogan {
   position: absolute;
   right: 0;
   top: 20px;
   color: #221e18;
   font-size: 1.2rem;
   font-weight: normal;
   font-style: italic;
}
.sloganBulb {
   vertical-align: middle;
   width: 17%;
   height: 17%;
}

footer {
   color: #221e18;
   font-size: 0.9rem;
   font-style: italic;
   padding: 15px;
   /* background-image: url("../images/footBack.png"); */
   /* border-radius: 7px; */
}
footer div {
   display: inline-block;
   padding: 0 7px;
}


/* set main container to start below header */
.content{
   margin: 90px auto 0;
   padding-top: 1px;
   width: 94%;
   background-color: #f3f3f3;
   border: 1px solid #bcbcbc;
   border-radius: 10px;
   box-shadow: 1px 1px 5px inset #9c9c9a;
}


/* -----------  HTML Elements  -----------  */
a {
   color: #003088;
   font-weight: bold;
   text-decoration: none;
   cursor: pointer;
}
a:hover {
   color: #aa9042;
}

form {
   display: inline-block;
   text-align: left;
}

h1 {
   font-family: "Akaya Telivigala", system-ui;
   font-weight: 400;
   font-style: normal;
   font-size: 3.75rem;
}

h2 {
   font-family: "Akaya Telivigala", system-ui;
   font-weight: 400;
   font-style: normal;
   font-size: 2.75rem;
}

h3 {
   font-family: "Akaya Telivigala", system-ui;
   font-weight: 400;
   font-style: normal;
   font-size: 1.75rem;
   font-size: 2.0rem;
}

h4 {
   font-family: "Akaya Telivigala", system-ui;
   font-weight: 400;
   font-style: normal;
   font-size: 1.5rem;
}

h5 {
   font-family: "Akaya Telivigala", system-ui;
   font-weight: 400;
   font-style: normal;
}

h6 {
   font-family: "Akaya Telivigala", system-ui;
   font-weight: 400;
   font-style: normal;
}

hr {
   border: dashed #61777f 2px;
   border-bottom: none;
   width: 60%;
}

p {
   font-size: 1.0em;
   line-height: 1.5;
}


/* setup a list container so the lists will to be centered in the parent section, but aligned to the left side of container */

.lists {
   display: inline-block;
   text-align: left;
   margin: 0 auto;
}
/* adds a top margin for list item spacing */
li {
   margin-top: 8px;
}

#textWindow {
   margin: 35px auto;
   padding: 0 40px;
   width: 65%;
}
#textWindow2 {
   width: 50%;
   margin: 35px auto;
   padding: 0 40px;
   background-color: #ebebeb;
   border-radius: 10px;
   border: 1px solid  #b0b0b0;
}
#textWindow3 {
   width: 65%;
   margin: 35px auto;
   padding: 0 40px;
   background-color: #ebebeb;
   border-radius: 10px;
   border: 1px solid  #b0b0b0;
}
#textWindow4 {
   width: 75%;
   margin: 35px auto;
   padding: 0 40px;
   background-color: #ebebeb;
   border-radius: 10px;
   border: 1px solid  #b0b0b0;
}

.splitWindow {
   background-color: #f3f3f3;
   width: 90%;
   margin: 0 auto;
   display: flex;
}

#splitWindowLt {
   width: 50%;
   padding: 10px 20px;
   margin: 25px 50px 50px 35px;
   text-align: justify;
   background-color: #ebebeb;
   border-radius: 10px;
   border: 1px solid  #b0b0b0;
}
#splitWindowLt img {
   padding: 25px;
   float: left;
   width: 20%;
   height: auto;
}
#splitWindowRt {
   width: 50%;
   padding: 10px 20px;
   margin: 50px 35px 25px 50px;
   text-align: justify;
   background-color: #ebebeb;
   border-radius: 10px;
   border: 1px solid  #b0b0b0;
}
#splitWindowRt img {
   padding: 25px;
   float: right;
   width: 15%;
   height: auto;
}

.contactWindow {
   background-color: #ebebeb;
   width: 30%;
   margin: 0 auto;
   padding: 20px 20px;
   border-radius: 10px;
   border: 1px solid #000 ;
}

.contact {
   margin: 0 auto;
   padding: 50px 40px;
   border-radius: 10px;
   background-color: #f4f3f3;
   border: 1px solid  #b0b0b0;
}


/* ----------  Class  Elements  ----------  */
.underConst {
   font-size: 1.1em;
}

.mongodb {
   width: .7%;
   height: .7%;
}

.instructor {
   margin-top: 25px;
   border: 1px solid black;
   border-radius: 50%;
   box-shadow: 3px 3px 10px #747474;
}

.btn {
   font-family: Arial;
   color: #ffffff;
   font-size: 14px;
   padding: 10px 20px;
   text-decoration: none;
   background: #3c4a27;
   border-radius: 28px;
   box-shadow: 2px 2px 5px #8b8b8b;
}
.btn:hover {
   color: #020603;
   background: #b2c795;
   box-shadow: 3px 3px 8px inset #8b8b8b;
}
