/* import <hx> tag fonts */
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
/*
.akaya-telivigala-regular {
  font-family: "Akaya Telivigala", system-ui;
  font-weight: 400;
  font-style: normal;
} */

/* Body font */
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=SUSE:wght@100..800&display=swap');
/*
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 800

.suse-<uniquifier> {
  font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 1000

.nunito-<uniquifier> {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* Logo Font */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
/*
// <weight>: Use a value from 400 to 900

.cinzel-<uniquifier> {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/


/* Header Fade in Effect */
@keyframes fadeInAnimation {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

body {
   /* set my page defaults */
   height: 100%;
   width: 100%;
   color: #000;
   font-family: "SUSE", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
   font-size: 1em;
   text-align: center;
   letter-spacing: .03em;
}

/* Set up Header and Footer */
header {
   background-color: #d5d5d5;
   position: fixed;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 120px;
   margin: 0;
   padding: 0;
   background-image: url("../images/headBack2.png");
   background-repeat: repeat-x;
   text-align: left;
   box-shadow: 0 3px 7px #888888;
   z-index: 99;
}

.headLogo {
   content: url(../images/logos/bodinglesLogo3.png);
   position: absolute;
   top: 27px;
   left: 25px;
}

.headTitle {
   position: absolute;
   top: 14px;
   left: 124px;
   color: #404d1e;
   font-size: 3.25rem;
   font-family: "SUSE", sans-serif;
   font-optical-sizing: auto;
   font-weight: 600;
   font-style: normal;
   text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
   letter-spacing: 3px;
}

.headBoot {
   top: 5px;
}

.headTitleb {
   position: absolute;
   top: 14px;
   left: 192px;
   color: #927b50;
   font-size: 3.25rem;
   font-family: "SUSE", sans-serif;
   font-optical-sizing: auto;
   font-weight: 600;
   font-style: normal;
   text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
   letter-spacing: 3px;
}

.headBootb {
   top: 5px;
}

header sub {
   font-weight: 700;
   font-size: .7rem;
   color: #7a7a7a;
   padding-left: 2px;
   text-shadow: none;
   letter-spacing: 0;
}

.headScroll {
   position: absolute;
   top: 73px;
   left: 103px;
}

.headScroll img {
   height: 30px;
   width: 310px;
}

.headSlogan {
   position: absolute;
   top: 37px;
   right: 38px;
   text-align: center;
   font-size: 1.1rem;
   font-weight: normal;
   font-style: italic;
}

.sloganBulb {
   vertical-align: middle;
   width: 42px;
   height: 48px;
}

footer {
   background-color: #d5d5d5;
   margin: 0 auto;
   padding: 15px;
   font-size: 0.9rem;
   font-style: italic;
   font-weight: 400;
   box-shadow: 0 -3px 7px #888888;
   border-bottom: 1px solid #000;
   /* background-image: url("../images/footBack.png"); */
   /* border-radius: 7px; */
}

footer div {
   display: inline-block;
   padding: 0 7px;
   letter-spacing: 1.25px;
}

/* set main container to start below header */
#main {
   padding-top: 130px;
   /* border: 1px solid #bcbcbc;
   border-radius: 10px;
   box-shadow: 3px 0 8px inset #838383; */
}

/* set up Main Contents effects */
/* in this case, were setting a fade-in */
.content {
   opacity: 0;
   animation: fadeInAnimation ease 2.5s;
   animation-iteration-count: 1;
   animation-fill-mode: forwards;
}


/* -----------  HTML Elements  -----------  */
a {
   color: #003088;
   font-weight: 600;
   text-decoration: none;
   cursor: pointer;
}

a:hover {
   color: #aa9042;
}

h1 {
   font-family: "Akaya Telivigala", system-ui;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
   font-size: 3.4rem;
   margin: 10px;
}

h2 {
   font-family: "Akaya Telivigala", system-ui;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
   font-size: 3rem;
   margin: 10px;
}

h3 {
   font-family: "Akaya Telivigala", system-ui;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
   font-size: 2.6rem;
   margin: 10px;
}

h4 {
   font-family: "Akaya Telivigala", system-ui;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
   font-size: 2.2rem;
   margin: 10px;
}

h5 {
   font-family: "Akaya Telivigala", system-ui;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
   font-size: 1.8rem;
   margin: 10px;
}

h6 {
   font-family: "Akaya Telivigala", system-ui;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
   font-size: 1.4rem;
   margin: 0;
}

hr {
   border: 1px solid #c1c5bb;
   width: 60%;
}

p {
   line-height: 1.5rem;
}


/* setup a list container so the lists will to be centered in the parent section, but aligned to the left side of container */

.lists {
   display: inline-block;
   text-align: left;
   margin: 0 auto;
}

/* adds a top margin for list item spacing */
li {
   margin-top: 8px;
}

/* Larger First Word in a paragraph */
.firstWord {
   font-size: 1.2rem;
   font-weight: 500;
}

.colorHighlight {
   color: #227441;
   font-weight: bold;
}

.colorHighlight2 {
   color: #682274;
   font-weight: bold;
}

/* text Boxes */
#textWindow {
   margin: 35px auto;
   padding: 20px 40px;
   width: 65%;
}

#textWindow2 {
   width: 35%;
   margin: 35px auto;
   padding: 20px 40px;
   background-color: #f3f3f3;
   border-radius: 1.1rem;
   border: 1px solid #3e4b2b;
   box-shadow: 10px 10px 15px #c9c9c9;
}

#textWindow3 {
   width: 60%;
   margin: 35px auto;
   padding: 20px 40px;
   background-color: #f3f3f3;
   border-radius: 1.1rem;
   border: 1px solid #3e4b2b;
   box-shadow: 10px 10px 15px #c9c9c9;
}

#textWindow4 {
   width: 75%;
   margin: 35px auto;
   padding: 20px 40px;
   background-color: #f3f3f3;
   border-radius: 1.1rem;
   border: 1px solid #3e4b2b;
   box-shadow: 10px 10px 15px #c9c9c9;
}

.splitWindow {
   width: 92%;
   margin: 0 auto;
   display: flex;
}

#splitWindowLt {
   width: 60%;
   padding: 10px 20px;
   margin: 25px 35px 75px 25px;
   text-align: justify;
   background-color: #f3f3f3;
   border-radius: 1.1rem;
   border: 1px solid #3e4b2b;
   box-shadow: 10px 10px 15px #c9c9c9;
}

#splitWindowRt {
   width: 60%;
   padding: 10px 20px;
   margin: 75px 25px 25px 35px;
   text-align: justify;
   background-color: #f3f3f3;
   border-radius: 1.1rem;
   border: 1px solid #3e4b2b;
   box-shadow: 10px 10px 15px #c9c9c9;
}

#splitWindowLt img {
   padding: 25px;
   float: left;
   width: 20%;
   height: auto;
}

#splitWindowRt img {
   padding: 25px;
   float: right;
   width: 15%;
   height: auto;
}

.contactWindow {
   background-color: #5b78a2;
   width: 35%;
   margin: 0 auto;
   border-radius: 10px;
   border: 3px solid #8dbcff;
   box-shadow: 10px 10px 15px #c9c9c9;
}

.contact {
   background: center url("/images/email.png");
   background-size: 70%;
   background-repeat: no-repeat;
   margin: 0 auto;
   padding: 25px 20px;
}

.contactTop {
   background-color: rgba(255, 255, 255, .5);
   padding: 25px 35px;
   font-size: 16px;
   font-weight: 500;
   border-radius: 10px;
}

.contMe {
   padding-top: 30px;
   font-weight: bold;
}


/* ----------  Class  Elements  ----------  */
.mongodb {
   width: .7%;
   height: .7%;
}

.instructor {
   margin-top: 15px;
   border: 2px solid #3e4b2b;
   border-radius: 100px;
   box-shadow: 3px 3px 13px #747474;
}

@media screen and (max-width:700px) {
   .headSlogan {
      display: none;
   }
 }