button {
   margin: 15px;
   padding: 17px 10px;
   font-size: 1em;
   border: 2px solid black;
   box-shadow: 2px 3px 8px gray;
}

li {
   list-style: none;
}

.meToo {
   padding: 0 15px;
   font-weight: bold;
}