#signup-box {
    display: inline-block;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #bebba0;
    color: #333;
    padding: 40px;
    border-radius: 25px;
    box-shadow: 0px 14px 28px #6f6f6f;
}

h1 {
    font-size: 32px;
}

p {
    margin-bottom: 30px;
}

.input-group {
    margin: 20px 0;
}

label{
    margin-bottom: 8px;
    font-weight: bold;
}

input{
    width: 300px;
    padding: 15px;
    margin: 5px 0 20px;
    border: none;
    background-color: #f2f2f2;
    border-radius: 5px;
}

input:hover {
    background-color: #E4FEE4;
}

input:focus {
    background-color: #d3c6b2;
}

button {
    width: 150px;
    text-align: center;
    padding: 15px 30px;
    font-size: 16px;
    background-color: #19261e;
    color: #f2f2f2;
    border: none;
    border-radius: 50px;
    transition: background-color 0.5s ease;
    cursor: pointer;
}

button:hover {
    background-color: #46ae6e;
    font-weight: bold;
}