#colorsDisp {
   margin: 25px auto;
   width: 80%;
   display: flex;
   justify-content: space-evenly;
}

#colorValue::placeholder {
   color: #c1c1c1;
}

#form {
   margin: 25px auto;
   width: 70%;
   display: flex;
   justify-content: space-around;
}

#head1 {
   padding-left: 17%;
   text-align: left;
}

#head2 {
   padding-left: 17%;
   text-align: left;
}

#instructions {
   margin: 0 auto;
   font-size: small;
}

#oppositeDisp {
   margin: 25px auto;
   width: 80%;
   display: flex;
   justify-content: space-evenly;
}

.colorDisplay {
   display: inline-block;
   margin-top: 10px;
   width: 16px;
   height: 16px;
   vertical-align: bottom;
}

.oppDisplay {
   display: inline-block;
   margin-top: 10px;
   width: 16px;
   height: 16px;
   vertical-align: bottom;
}