#mainWindow {
   margin: 0 auto;
   width: 75%;
   display: flex;
   justify-content: space-evenly;
}

#mainLeft {
   width: 50%;
   margin: 0 auto;
}

#mainRight {
   width: 50%;
   margin: 0 auto;
}

#heading {
   margin: 0 auto;
   padding: 20px;
   text-align: center;
}

#columns {
   width: 100%;
   text-align: center;
   display: flex;
   justify-content: space-around;
}

#leftColumn {
   width: 50%;
   text-align: center;
   vertical-align: middle;
}

#rightColumn {
   width: 50%;
   text-align: center;
   vertical-align: middle;
}

#colDisp {
   margin: auto;
   width: 100%;
   padding: 10px 0;
   border: 1px solid black;
}
#colVal {
   margin: auto;
   width: 100%;
   padding: 10px 0;
}




#colorValue::placeholder {
   color: #c1c1c1;
}

#form {
   margin: 25px auto;
   width: 70%;
   display: flex;
   justify-content: space-around;
}

#instructions {
   margin: 0 auto;
   font-size: small;
}

/* #oppositeDisp {
   margin: 25px auto;
   width: 80%;
   display: flex;
   justify-content: space-evenly;
}

.colorDisplay {
   display: inline-block;
   margin-top: 10px;
   width: 16px;
   height: 16px;
   vertical-align: bottom;
}

.oppDisplay {
   display: inline-block;
   margin-top: 10px;
   width: 16px;
   height: 16px;
   vertical-align: bottom;
} */