@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=SUSE:wght@100..800&display=swap');

.gradient-background {
  background: linear-gradient(320deg, #989898, #d8cfbf, #f4efe6);
  background-size: 100% 100%;
  animation: gradient-animation 12s ease infinite;
}

body {
   width: 100%;
   margin: 0;
   padding: 0;
   font-family: "SUSE", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
   font-size: 1em;
   text-align: center;
}

button {
   background-color: #fff;
   border: none;
}

footer {
   background-color: #ffebda;
   width: 100%;
   margin: 35px 0 0;
   text-align: center;
   border: 1px solid black;
}

h1 {
   background-color: #ffebda;
   width: 100%;
   margin: 0 0 25px;
   padding: 15px 0;
   border: 2px solid black;
   font-size: 2.5rem;
}

.bookCover{
   background-color: #4d6162;
   background-size: cover;
   width: 225px;
   height: 340px;
   text-align: center;
   border: 1px solid black;
   border-radius: 10px 10px 0 0;
}

.bookDetails {
   background-color: #ffffff;
   padding: 10px 0;
   width: 225px;
   height: 150px;
   font-size: .9rem;
   line-height: 1rem;
   border: 1px solid black;
   border-radius: 0 0 10px 10px;
}

.bookSearch {
   margin: 0 10px;
   padding: 3px 10px;
   height: 20px;
   font-size: 1.1rem;
   border-color: #303030;
   border-radius: 6px;
}

.bookSearch:focus {
   background-color: #ffebda;
}

.bookText{
   background-color: #151515;
   color: #f0f0f0;
   width: 201px;
   padding: 5px 10px;
   position: absolute;
   top: 10px;
   left: 8px;
   z-index: 10;
   font-size: .9rem;
   line-height: 1.1rem;
   text-align: center;
   border-radius: 10px;
   opacity: 0;
   transition: opacity 1s;
}

.bookText:hover {
   opacity: .8;
   transition: opacity 1s;
}

.bookTitle {
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.bookTitle a {
   color:#303030;
   padding: 0 10px;
   font-size: 1rem;
   font-weight: 700;
   text-decoration: none;
}

.bookTitle a:hover {
   color:#286993;
   cursor: pointer;
}

.container {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.card{
   width: 245px;
   margin: 20px 10px 0;
   padding: 5px;
   position: relative;
}

.error {
   color: #932929;
   font-weight: 700;
}

.hr {
   width: 80%;
}

.intro {
   width: 75%;
   margin: 0 auto 30px;
   line-height: 1.5rem;
   font-size: 1.1rem;
   text-align: justify;
}

.intro a {
   color: #1f5c85;
   font-weight: 700;
   text-decoration: none;
}

.intro a:hover {
   color: #885f17;
}

.rateDisp {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   position: relative;
}

.rateStars {
   opacity: 1;
   transition: opacity 0.5s;
}

.rateStars:hover {
   opacity: 0;
   transition: opacity 0.5s;
}

.rateNums {
   width: 100%;
   padding: 2px 0;
   position: absolute;
   top: 2px;
   text-align: center;
   z-index: 10;
   font-size: .9rem;
   opacity: 0;
   transition: opacity 0.2s;
}

.rateNums:hover {
   background-color: #fef1e6;
   border: 1px solid black;
   border-radius: 10px;
   opacity: 1;
   transition: opacity 0.2s;
}

.rating {
   width: 95%;
   margin: 0 auto;
   padding: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
}


.rating img {
   vertical-align: middle;
}

.searchButton {
   margin: 0 10px;
   padding: 3px 10px;
   font-size: 1rem;
   border: 2px solid #303030;
   border-radius: 6px;
   box-shadow: 2px 2px 8px #303030;
}

.searchButton:hover {
   background-color: #b3f3f4;
   box-shadow: none;
   cursor: pointer;
}
