@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=SUSE:wght@100..800&display=swap');

.gradient-background {
  /* background: linear-gradient(320deg, #878787, #888888, #c8c8c8); */
  background: linear-gradient(320deg, #989898, #c2c2c2, #dcd6cc);
  background-size: 100% 100vh;
  animation: gradient-animation 12s ease infinite;
}

body {
   background-color: #dddddd;
   width: 100%;
   font-family: "SUSE", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
   font-size: 1em;
   text-align: center;
}

.bookCover{
   background-color: #dbcea6;
   background-size: cover;
   /* padding-top: 10px; */
   width: 225px;
   height: 340px;
   text-align: center;
   border: 1px solid black;
   border-radius: 10px 10px 0 0;
}

.bookDetails {
   background-color: #e5e5e5;
   width: 225px;
   border: 1px solid black;
   border-radius: 0 0 10px 10px;
}

.bookText{
   background-color: #303030;
   color: #f0f0f0;
   width: 205px;
   padding: 5px 10px;
   position: absolute;
   bottom: 175px;
   left: 5px;
   z-index: 10;
   font-size: .8rem;
   line-height: 1.1rem;
   text-align: center;
   border-radius: 10px;
   opacity: 0;
   transition: opacity 1s;
}

.bookText:hover {
   opacity: .8;
   transition: opacity 1s;
}

.container {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.card{
   width: 245px;
   margin: 20px 10px 0;
   padding: 5px;
   position: relative;
}
