main {
   font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
   background: #222;
   color: hotpink;
   margin: 150px auto 25px;
   width: 75%;
   height: 500px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   text-align: center;
   border-radius: 25px;
}

h1 {
  font-size: 3.5rem;
}

input {
  appearance: none;
  -webkit-appearance: none;
  border: 0;
  font-size: 0.9rem;
  background: #888;
  padding: 1rem;
  color: white;
  cursor: pointer;
  border-radius: 12px;
}

footer {
  position: absolute;
  bottom: 0;
}
