input {
   margin-left: 10px;
}

input:focus {
   background-color: #fffdda;
   border: none;
}

.formInput {
   font-size: 1.3rem;
   line-height: 2.2em;
}

.output {
   font-size: 1.2rem;
   line-height: 2rem;
}