   <%- include( "head.ejs" ) %>

   <title>Bodingles | EJS Form Inputs</title>
   <link rel="stylesheet" href="styles/local.css">
</head>

<body>
   <header id="app-header">
      <span class="headLogo"></span>
      <span class="headTitleShadow">Bodingles<sub>TM</sub></span>
      <a href="/">
         <span class="headTitle">Bo</span>
         <span class="headTitleb">dingles</span>
      </a>
      <span class="headScroll"><img src="images/scroll.png" alt=""></span>
      <span class="headSlogan">
         - -&nbsp;&nbsp;&nbsp;Bright
         <img class="sloganBulb" src="images/logos/lightbulb.png" alt="Lightbulb Graphic">
         Ideas&nbsp;&nbsp;&nbsp;- -
      </span>
   </header>