p {
   line-height: 1.5rem;
}

.crud {
   margin: 0 auto;
   padding: 0;
}

.crud2 {
   padding: 5px 10px;
   text-align: left;
}

.cent {
   margin: 0 auto;
   text-align: center;
}

.content {
   margin: 30px auto 80px;
}