<form action="localhost:3000/form_post" method="post">
   <label for="name_user">
      <input type="text" name="name_user" value="badDoggy" placeholder="Enter your name">
   </label>
   <label for="email_user">
      <input type="text" name="email_user" value="bD@gmail.com" placeholder="Enter your email">
   </label>
   <button type="submit">Submit</button>
</form>