<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Weather Prognosticator</title>
   <!-- Link Favicon -->
   <link rel="icon" href="/images/logos/favicon.ico" type="image/x-icon" />
   <!-- styles -->
    <link rel="stylesheet" href="styles/local.css">
</head>


<body>

   <div>
      <h1>Dinkle Weatherby's</h1>
      <p><img src="images/dinkleWeatherby.png" alt="" width="150px"></p>
      <h2>Weather Prognosticator</h2>
      <hr>

      <div>
         <form action="/" method="post">
            <p><label for="location">Enter City Name or 5-Digit Zip Code</label></p>
            <p><input type="text" name="location" id="location" placeholder="City Name or Zip Code" required>&nbsp;&nbsp;
            <button>Search</button></p>
         </form>
      </div>

      <hr>
      <% if (!locals.content) { %>
         <p>No Data Available</p>
         <p>Check Console Log</p>
      <% } else { %>
         <% const weather = JSON.parse(content) %>
         <% if (weather.error) { %>
            <p class="error"><%= weather.error %></p>
         <% } else { %>
            <p><%= weather.name %></p>
            <p><%= weather.lat %></p>
            <p><%= weather.lon %></p>
         <% } %>
      <% } %>
      <hr>
   </div>


   <div>
      <p>&nbsp;</p>
      <h3>Resources</h3>
      <ul>
         <li><a href="https://openweathermap.org/api/one-call-3" target="_blank">Open Weather - One Call API 3.0</a></li>
         <li><a href="https://openweathermap.org/api/geocoding-api" target="_blank">Open Weather - Geocoding - City, St, Zip</a></li>
         <li><a href="https://openweathermap.org/weather-conditions" target="_blank">Open Weather - Weather Conditions - Codes - Icons</a></li>
         <li style="list-style: none;">&nbsp;</li>
         <li><a href="https://search.brave.com/videos?q=how+to+build+Open-Meteo+weather+app&source=web" target="_blank">Search Page | how to build Open-Meteo weather app</a></li>
         <li><a href="https://open-meteo.com/en/docs#api_documentation" target="_blank">Open-Meteo Weather API Documentation</a></li>
         <li><a href="https://www.youtube.com/watch?v=HS7GfTuJgA8" target="_blank">Video | Weather App with JavaScript & Open Meteo API | Full Guide</a></li>
      </ul>
   </div>



</body>
</html>