#mainDiv {
   margin: 25px auto;
   width: 700px;
   border: 1px solid #a2a2a2;
}

#imageRow {
   width: 700px;
   height: 400px;
   background-image: url(pingPong.avif);
   /* background-size: contain; */
}

#titleRow {
   width: 100%;
   border: 1px solid #a2a2a2;
   font-size: 1.25rem;
   font-weight: bold;
}

#title {
   width: 50%;
   margin: 0 auto;
   padding: 10px 0;
   text-align: center;
   background-color: #caa7a7;
}

#winLoss {
   width: 50%;
   margin: 0 auto;
   padding: 10px 0;
   text-align: center;
   background-color: #abcaa7;
}

#scoreRow {
   padding: 10px 25px;
}

#scoreDisplay {
   width: 50%;
   text-align: left;
}

#resetAnnounce {
   width: 50%;
   text-align: center;
}

#scoreRowTop {
   font-size: 2.75rem;
   font-weight: 500;
}

#scoreRowMid {
   padding: 10px 0;
   font-size: 1.25rem;
   font-weight: 600;
}

#scoreRowBot {
   padding: 10px 0;
}

#buttons {
   width: 100%;
   padding: 0;
   border: 1px solid #a2a2a2;
   font-size: 1.15rem;
   font-weight: bold;;
   display: flex;
   justify-content: space-evenly;
}

#buttonOne {
   width: 33%;
   margin: 0px auto;
   padding: 15px;
   color: white;
   background-color: #47b076;
   border: 1px solid #a2a2a2;
}

#buttonTwo {
   width: 34%;
   margin: 0px auto;
   padding: 15px;
   color: white;
   background-color: #4778b0;
   border: 1px solid #a2a2a2;
}

#buttonReset {
   width: 33%;
   margin: 0px auto;
   padding: 15px;
   color: white;
   background-color: #b04761;
   border: 1px solid #a2a2a2;
}