/* .gradient-background {
  background: linear-gradient(300deg, #7b6b43, #7e846b, #a5ae9e);
  background-size: 180% 180%;
  animation: gradient-animation 12s ease infinite;
>>>>>>> e1d73dfabb9bff8f559d2981798fe8251ce365e9
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */
/* ============================================================================== */

/* header setup */
.headTitle {
   position: absolute;
   top: 20px;
   left: 30px;
   color: #404d1e;
   font-size: 3.25rem;
   font-family: "SUSE", sans-serif;
   font-optical-sizing: auto;
   font-weight: 600;
   font-style: normal;
   text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
   letter-spacing: 3px;
   z-index: 25;
}

.headTitleb {
   position: absolute;
   top: 20px;
   left: 98px;
   color: #927b50;
   font-size: 3.25rem;
   font-family: "SUSE", sans-serif;
   font-optical-sizing: auto;
   font-weight: 600;
   font-style: normal;
   text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
   letter-spacing: 3px;
   z-index: 25;
}

.headTitleShadow {
   position: absolute;
   top: 21px;
   left: 31px;
   color: #7a7a7a;
   font-size: 3.25rem;
   font-family: "SUSE", sans-serif;
   font-optical-sizing: auto;
   font-weight: 600;
   font-style: normal;
   letter-spacing: 3px;
   text-shadow: 3px 3px 6px #373737;
   z-index: 0;
}

.headScroll img {
   top: 65px;
   left: 10px;
}

.navbar {
   margin-top: 5px;
   background-color: #d5d5d5;
   z-index: 100;
}

.navLinks {
   margin-left: 80%;
   padding-right: 20px;
   font-size: 1.2rem;
   font-weight: 600;
}

/* ============================================================================== */

.code {
   background-color: #bebebe;
   margin: 0;
   padding: 0;
}

.code img {
   width: 80%;
   height: auto;
   border-radius: 10px;
   opacity: .9;
}

.doggyPic {
   margin: 0 auto;
   width: 50%;
   height: auto;
   border: 2px solid #3e3e3e;
   border-radius: 40%;
   box-shadow: 2px 2px 10px black;
   opacity: 0.85;
}

.hero {
   background-color: #d5d5d5;
   margin-top: 123px;
   padding: 0;
}

/* styling needed for MongoDB logo */
.mongodb {
   width: 2%;
   height: 2%;
}

.programmer {
   background-color: #bebebe;
   margin: 0;
   padding: 0;
}

.programmer img {
   width: 80%;
   height: auto;
   border-radius: 30%;
   opacity: .6;
}

/* --------------  Media Queries  --------------  */
/* ============================================= */
@media screen and (max-width:992px) {
   .headSlogan {
      display: none;
   }
 }

@media screen and (max-width:760px) {
   .code img {
      display: none;
   }
   .programmer img {
      display: none;
   }
 }
 /* ============================================= */
