/* .gradient-background {
  background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

/* ============================================================================== */

.code {
   background-color: #bebebe;
   margin: 0;
   padding: 0;
}

.code img {
   width: 71%;
   height: auto;
   border-radius: 10px;
   opacity: .9;
}

.doggyPic {
   margin: 0 auto;
   width: 50%;
   height: auto;
   border: 2px solid #3e3e3e;
   border-radius: 40%;
   box-shadow: 2px 2px 10px black;
   opacity: 0.85;
}

.hero {
   background-color: #d5d5d5;
   margin-top: 123px;
   padding: 0;
}

/* styling needed for MongoDB logo */
.mongodb {
   width: 2%;
   height: 2%;
}

.programmer {
   background-color: #bebebe;
   margin: 0;
   padding: 0;
}

.programmer img {
   width: 65%;
   height: auto;
   border-radius: 30%;
   opacity: .6;
}

/* --------------  Media Queries  --------------  */
/* ============================================= */
@media screen and (max-width:700px) {
   .code img {
      display: none;
   }
   .programmer img {
      display: none;
   }
 }
 /* ============================================= */