a {
   color: #003088;
   font-weight: 600;
   text-decoration: none;
   cursor: pointer;
}

a:hover {
   color: #aa9042;
}

form {
   padding: 5px 0;
}

img {
   border-radius: 45px;
}

ul li {
   line-height: 1.5rem;
}

.error {
   font-size: 1.1rem;
   font-weight: 600;
   color: #a82929;
}