h1, h4 {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#featured-3 {
   margin: 0 auto;
   text-align: left;
}

#featured-3 p {
   text-align: justify;
}

.feature-icon {
   width: 3.5rem;
   height: 3.5rem;
   border-radius: 0.75rem;
}

.navbar {
   margin: 0 auto;
   text-align: center;
   width: 80%;
}