button {
   margin: 25px auto;
   padding: 10px 20px;
   font-size: 2.75em;
   border: 2px solid black;
   box-shadow: 4px 5px 10px gray;
}

#rainbow {
   font-family: "Akaya Telivigala", system-ui;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
   font-size: 3.5rem;
   margin: 10px;
}

.newDiv {
   display: inline-block;
   text-align: center;
}

.label {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   display: block;
   padding: 12px 8px;
   font-size: .75rem;
   color: black;
}