article {
   text-align: justify;
}

hr {
   margin: 15px auto;
   width: 90%;
}

iframe {
   border: 3px solid black;
   border-radius: 10px;
   box-shadow: 6px 6px 13px #656565;
}

li {
   list-style: none;
   text-align: left;
}

ol li {
   list-style: decimal;
}

.tabDisp {
   width: 90%;
}

.lt {
   font-weight: bold;
   margin: 5px 20px;
}

.rt {
   margin-left: 70px;
}
