.square {
   width: 100px;
   height: 100px;
   box-sizing: border-box;
   border: 1px solid black;
 }

 #board {
   margin: 0 auto;
   width: 500px;
   display: flex;
   flex-wrap: wrap;
}

#board div:nth-child(odd) {
   background-color: black;
 }

 #board div:nth-child(even) {
   background-color: red;
 }
