/* import <hx> tag fonts */
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
/* Body font */
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=SUSE:wght@100..800&display=swap');


*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 1rem;
}

body {
   font-family: "SUSE", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
   font-size: 1.25rem;
   line-height: 2rem;
   background-image: url('/images/background.png');
   background-size: cover;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

a {
   color: #003088;
   font-weight: 600;
   text-decoration: none;
   cursor: pointer;
}

a:hover {
   color: #aa9042;
}

form {
   padding: 5px 0;
}

/* custom heading tags */
h1 {
   font-family: "Akaya Telivigala", system-ui;
   font-weight: 400;
   font-style: normal;
   font-size: 3.4rem;
   margin: 15px auto 25px;
}

h2 {
   font-family: "Akaya Telivigala", system-ui;
   font-weight: 400;
   font-style: normal;
   font-size: 3rem;
   margin: 15px auto 25px;
}

h3 {
   font-family: "Akaya Telivigala", system-ui;
   font-weight: 400;
   font-style: normal;
   font-size: 2.7rem;
   margin: 13px auto 20px;
}

h4 {
   font-family: "Akaya Telivigala", system-ui;
   font-weight: 600;
   font-style: normal;
   font-size: 2.5rem;
   margin: 10px auto 15px;
}

h5 {
   font-family: "Akaya Telivigala", system-ui;
   font-weight: 500;
   font-style: normal;
   font-size: 2rem;
   margin: 7px auto 9px;
}

h6 {
   font-family: "Akaya Telivigala", system-ui;
   font-weight: 300;
   font-style: normal;
   font-size: 1.5rem;
   margin: 5px auto 8px;
}

ul li {
   line-height: 1.5rem;
}

#location {
   background-color: #ebf8ff;
   margin: 0 8px;
   padding-left: 10px;
   height: 35px;
   border-radius: 10px;
}

#searchButton {
   margin: 0 8px;
   padding: 5px 15px;
   height: 35px;
   border-radius: 11px;
   box-shadow: 2px 2px 5px #000;
}

#searchButton:hover {
   background-color: #d0eeff;
   box-shadow: none;
}

.city {
   font-size: 1.25rem;
   font-weight: 700;
}

.dinkle {
   border-radius: 45px;
}

.error {
   margin: 10px auto;
   text-align: center;
   font-size: 1.25rem;
   font-weight: 700;
   color: #be251a;
}

.heading {
   margin: 20px auto;
   text-align: center;
}

.hr {
   width: 100%;
   border-top: 2px solid #6b6b6b;
}

.mainCard {
   width: 400px;
   margin: 50px auto;
   padding: 20px 0;
   background-color: #d3d3d35f;
   border-radius: 25px;
   box-shadow: 5px 5px 15px #000;
}

.resources {
   margin: 10px auto;
   margin-left: 50px;
}

.searchBox {
   margin: 20px auto;
   text-align: center;
}

.weatherImage {
   margin: 0;
   padding: 0;
   width: 100px;
}

/* grid layout */
/* -------------------------------------------------- */
.weatherGrid {
   margin: 0;
   padding: 0;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr;
   gap: 0px 0px;
   grid-template-areas:
      "r1c1 r1c2 ."
      "row2 row2 ."
      "row3 row3 .";
}

.r1c1 {
   grid-area: r1c1;
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;
}

.r1c2 {
   grid-area: r1c2;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: flex-start;
}

.row2 {
   grid-area: row2;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.row3 {
   grid-area: row3;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}