/* import <hx> tag fonts */
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
/* Body font */
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=SUSE:wght@100..800&display=swap');


*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
   position: relative;
   font-family: "SUSE", sans-serif;
   background: url('/images/background.png') no-repeat center/cover;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 15px;
}

a {
   color: #55dcd5;
   font-weight: 600;
   text-decoration: none;
   cursor: pointer;
}

a:hover {
   color: #ceaf52;
}

form {
   padding: 5px 0;
}

/* custom heading tags */
h4 {
   font-family: "Akaya Telivigala", system-ui;
   font-weight: 600;
   font-style: normal;
   font-size: 2.25rem;
   margin: 10px auto 15px;
}

h5 {
   font-family: "Akaya Telivigala", system-ui;
   font-weight: 500;
   font-style: normal;
   font-size: 1.75rem;
   margin: 7px auto 9px;
}

img {
   width: 40px;
   vertical-align: middle;
}

#location {
   background-color: #ebf8ff;
   margin: 0 8px;
   padding-left: 10px;
   height: 35px;
   width: 55%;
   border-radius: 10px;
}

#searchButton {
   margin: 0 8px;
   padding: 5px 25px;
   height: 35px;
   border-radius: 11px;
   box-shadow: 2px 2px 5px #000;
}

#searchButton:hover {
   background-color: #d0eeff;
   box-shadow: none;
}

.city {
   font-size: 1.15rem;
   font-weight: 700;
}

.dinkle {
   width: 115px;
   border-radius: 45px;
}

.error {
   margin: 10px auto;
   text-align: center;
   font-size: 1.25rem;
   font-weight: 700;
   color: #850d05;
}

.forecast {
   padding: 0 25px;
}

.gratuity {
   background-color: #3a3a3a98;
   color: #c2cde2;
   margin: 20px 50px;
   padding: 7px 20px;
   border-radius: 20px;
}

.heading {
   margin: 10px auto 20px;
   text-align: center;
}

.hr {
   width: 100%;
   border-top: 2px solid #6b6b6b;
}

.mainCard {
   width: 35%;
   min-width: 350px;
   margin: 10px auto 30px;
   padding: 20px 0;
   background-color: #d3d3d35c;
   border-radius: 25px;
   box-shadow: 5px 5px 15px #000;
}

.resources {
   margin: 10px auto;
   margin-left: 50px;
}

.searchBox {
   margin: 20px auto;
   text-align: center;
}

.weatherImage {
   margin: 0;
   padding: 0;
   width: 125px;
}

/* Weather Rows Styling */
/* ==================================== */
.row1 {
   margin-bottom: 10px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.r1c1 {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.r1c2 {
   line-height: 2rem;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: start;
}

.row2 {
   margin: 10px;
   line-height: 1.75rem;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
}

.row3 {
   margin: 10px;
   line-height: 1.85rem;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
}