*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 1rem;
}

body {
   background-image: url('/images/background.png');
   background-size: cover;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

a {
   color: #003088;
   font-weight: 600;
   text-decoration: none;
   cursor: pointer;
}

a:hover {
   color: #aa9042;
}

form {
   padding: 5px 0;
}

img {
   border-radius: 45px;
}

ul li {
   line-height: 1.5rem;
}

.error {
   font-size: 1.1rem;
   font-weight: 600;
   color: #a82929;
}

.heading {
   margin: 20px auto;
}

.mainCard {
   margin: 30px auto 0;
}

.resources {
   margin: 10px auto;
   margin-left: 50px;
}

.searchBox {
   margin: 20px auto;
}