<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Our Pets</title>

   <!-- link to static assets directory -->
   <%- include('includes/headBootstrap') %>
   <%- include('includes/headLocalStyles') %>
</head>

<body>
   <!-- Bootstrap Navbar -->
   <%- include('includes/navBar') %>

   <!-- Pets Demo -->
   <h1>express Demo</h1>
   <p>&nbsp;</p>
   <h5>These are Our Pets</h5>
   <p>&nbsp;</p>
   <% for ( pet of pets ) { %>
      <p><%= pet %></p>
   <% } %>

</body>
</html>