.museumBody {
   background-color: #f5ebe0;
   margin: 0 auto;
   padding: 0;
}

#topNavbar {
   text-align: left;
   padding-left: 15px;
}

#topNavbar .nav-link {
   color: #525252;
   font-size: 1.35rem;
   font-weight: 200;
}

#topNavbar .nav-link:hover {
   color: #f5ebe0;
   background-color: brown;
   border-radius: 20px;
}

#topNavbar .navbar-brand {
   color: brown;
   font-size: 1.5rem;
   font-weight: 300;
}

h1, .h1 {
   font-size: calc(20px + 2vw);
 }

 @media screen and (min-width:1600px) {
   h1, .h1 {
     font-size: 80px;
   }
 }
