li {
   list-style: none;
}

#wrapper {
   margin: 0 auto;
   width: 100%;
   font-size: 14px;
   display: flex;
   justify-content: space-evenly;
}

#categories {
   cursor: pointer;
}

#selList {
   cursor: pointer;
}

.butt {
   padding: 4px 10px;
   border-radius: 7px;
   box-shadow: 2px 2px 5px #767676;
}

.butt:hover {
   cursor: pointer;
   color: whitesmoke;
   background-color: #222;
   box-shadow: none;
}

.error {
   font-weight: bold;
   color: darkred;
}

.categories {
   margin: 0 auto;
   width: 30%;
   cursor: pointer;
}

.selection {
   margin: 0 auto;
   width: 30%;
}

.display {
   margin: 0 auto;
   width: 40%;
}

.firstWord {
   font-size: 15px;
   font-weight: bold;
}