li {
   list-style: none;
}

#wrapper {
   margin: 0 auto;
   width: 100%;
   font-size: 14px;
   display: flex;
   justify-content: space-evenly;
}

#butt {
   padding: 3px 6px;
   font-size: 12px;
   border-radius: 8px;
   box-shadow: 2px 2px 8px #a7a7a7;
}

#butt:hover {
   box-shadow: 0px 0px;
   color: antiquewhite;
   background-color: #585858;
}

.categories {
   margin: 0 auto;
   width: 30%;
}

.specific {
   margin: 0 auto;
   width: 30%;
}

.display {
   margin: 0 auto;
   width: 40%;
}

.firstWord {
   font-size: 15px;
   font-weight: bold;
}