li {
   list-style: none;
}

#wrapper {
   margin: 0 auto;
   width: 100%;
   display: flex;
   justify-content: space-evenly;
}

#names {
   margin: 0 auto;
   width: 20%;
}

#planets {
   margin: 0 auto;
   width: 20%;
}

#ships {
   margin: 0 auto;
   width: 20%;
}

#display {
   margin: 0 auto;
   width: 40%;
}