/* ================================ */
/* MAIN PAGE STYLES                 */
/* ================================ */
/* body {
   min-width: 300px;
   display: grid;
   grid-template-rows: 1fr auto
} */

body {
   line-height: 2.25rem;
   min-width: 300px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}

a {
   color: #ffde5b;
   font-size: .7rem;
   font-weight: 400;
   text-decoration: none;
   cursor: pointer;
}

a:hover {
   color: #cae155;
}

#cityState {
   font-weight: 700;
}

#location {
   background-color: #ebf8ff;
   margin: 0 8px;
   padding-left: 10px;
   height: 35px;
   width: 55%;
   border-radius: 10px;
}

#main {
   margin-bottom: 0;
   padding-bottom: 0;
   height: min-content;
   background: url('../images/background.png') no-repeat center/cover;

}

#searchButton {
   margin: 0 8px;
   padding: 5px 25px;
   height: 35px;
   border-radius: 11px;
   box-shadow: 2px 2px 5px #000;
}

#searchButton:hover {
   background-color: #d0eeff;
   box-shadow: none;
}

/* ================================ */
/* FLEX LAYOUT                      */
/* ================================ */
.alerts {
   padding-left: 25px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
}

.currentMain {
   width: 65%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
}

.currentMainDisplay {
   width: 100%;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.currentSubDisplay {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.dinkle {
   width: 35%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.dinkle img {
   width: 50%;
   border-radius: 40px;
}

.div4-container .miniCard:first-child {
    margin-left: auto;
}

.div4-container .miniCard:last-child {
    margin-right: auto;
}

.gratuity {
   background-color: #3a3a3a98;
   color: #c2cde2;
   margin: 10px;
   padding: 5px 15px;
   font-size: .7rem;
   border-radius: 20px;
}

.gratuityMain {
   width:70%;
   margin: 30px auto 30px;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}

.mainCard {
   margin: 20px auto 40px;
   padding: 15px;
   max-width: 800px;
   min-width: 300px;

   background-color: #e8e8e86c;
   border-radius: 18px;
   box-shadow: 5px 5px 15px #000;
}

.miniCard {
   background-color: #e6e6e6;
   margin: 5px;
   padding: 5px;
   border: 1px solid #252525;
   border-radius: 15px;
   box-shadow: 3px 3px 8px #252525;
}

.mainCurr {
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

.mainIcon {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.row1 {
   display: flex;
   flex-wrap: wrap;
}

.search {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
}

.sevenDay {
   margin: 0 10px;
   display: flex;
   align-items: flex-start;
   overflow-x: auto;
}

.todaysDate {
   font-size: 1rem;
   font-weight: 500;
   width: 100%;
   display: flex;
   justify-content: center;
}

.todayOutlook {
   width: 100%;
   padding-left: 3rem;
   font-weight: 600;
   display: flex;
   justify-content: flex-start;
}

/* ================================ */
/* MEDIA QUERIES                    */
/* ================================ */
@media (max-width: 850px) {
   body {
      line-height: 1.5rem;
   }
   .mainCard {
      margin: 10px 20px;
      padding: 10px;
   }
   h5 {
      font-size: 1.5rem;
   }
   h6 {
      font-size: 1.2rem;
   }
}
@media (max-width: 600px) {
   body {
      line-height: 1rem;
   }
   .dinkle {
      width: 100%;
   }
   .currentMain {
      width: 100%;
   }
   .sevenDay {
      margin: 0 15px;
   }
   .dinkle img {
      width: 25%;
   }
}