<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>EJS Home</title>
</head>

<body>
    <h3>This is my EJS <%= 'demo '.toUpperCase() %> Page</h3>
    <p><b>Todays Random Number is: <%= num %></b></p>

   <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio ex itaque eum culpa, sed, sint natus sapiente doloremque eaque rem quam expedita dolore, illo voluptatem fugiat minima hic quidem quis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit explicabo nulla ea provident. Adipisci culpa, temporibus, fugiat dicta omnis voluptates nisi rem, sunt dolore inventore excepturi ratione doloremque deserunt minus?</p>

   <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis unde iste mollitia eaque assumenda laudantium ducimus accusantium distinctio illo ipsum in quam quos, repudiandae maiores adipisci non voluptate atque quidem?</p>

</body>
</html>