.tcozy {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    overflow-x: hidden;
    margin: 0 auto;
    width: 95%;
    border-radius: 25px;
    box-shadow: 3px 3px 5px #989898;
}

.heading {
    height: 69px;
    border-bottom: 1px solid seashell;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo .pic {
    height: 50px;
    margin-left: 25px;
}

#navbar {
    margin-right: 25px;
    display: flex;
    justify-content: end;
}

#navbar li {
    display: inline;
    list-style: none;
    text-decoration: underline;
}

#navbar a {
    color: seashell;
}

#sect {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sect1 {
    background-image: url(../images/img-mission-background.webp);
    width: 89%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sect1 h2,
#sect1 p {
    width: 100%;
    height: 60px;
    background-color: black;
    color: seashell;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sect2 {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sect2 h2,
#sect2 p {
    color: seashell;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sect2 h2 {
    margin-top: 60px;
}

#sect2 p {
    margin: 40px;
}

#sect2imgs {
    width: 89%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#sect2img {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sect2img .pic {
    width: 300px;
    height: 200px;
    margin: 10px 10px;
}

#sect2img p {
    margin: 12px;
}

#sect3 {
    background-image: url(../images/img-locations-background.webp);
    width: 89%;
    height: 500px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sect3locs {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#locsrow {
    width: 300px;
    height: 300px;
    margin: 15px 20px;
    color: seashell;
    background-color: black;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

#sect4 {
    color: seashell;
    padding-top: 50px;
    font-size: .8em;
}

.foot {
    margin-top: 20px;
    font-size: .6em;
}