.classCode {
   width: 100%;
   margin: 0 auto;
   border: 1px solid black;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
}

.classCode img {
width: 28%;
margin-top: 4%;
/* margin: calc(10%/6); */
border: 1px solid black;
box-shadow: 2px 2px 8px #86ebd9, -2px -2px 8px #86ebd9;
}

h6 {
   width: 20%;
   text-align: left;
   margin-left: 18%;
   padding-bottom: 5px;
   padding-left: 10px;
   border-bottom: 2px solid #d8d8d8;
   font-size: 1.5rem;
}
