body {
   margin-top: 50px;
   background-color: #629c9c;
}

a {
   color: black;
   font-weight: 600;
   text-decoration: none;
   cursor: pointer;
}

a:hover {
   color: #dddddd;
}

h4 {
   color: #dddddd;
   padding: 20px;
}

hr {
   border-color: #000000;
}

img {
   max-width: 600px;
   height: auto;
   border: 2px solid #1a1a1a;
   border-radius: 20px;
   box-shadow: 3px 3px 15px #232323;
}

.author {
   color: #dddddd;
   font-size: 1.3rem;
  font-weight: 500;
}

.desc {
   font-size: 1.3rem;
}

.subs {
   color: #dddddd;
}
