<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>The Books Project</title>
   <!-- Link Favicon -->
   <link rel="icon" href="images/favicon.ico" type="image/x-icon">

   <!-- link stylesheet -->
   <link rel="stylesheet" href="styles/main.css">
</head>

<body class="gradient-background">

   <h1>The Book Project</h1>

   <div>
      <p>Search for a book to add to our DataBase.</p>
      <form action="/" method="post">
         <label for="bookSearch">Book Name: </label>
         <input type="text" id="bookSearch" name="bookTitle">
         <button>Submit</button>
      </form>
   </div>

   <div class="container">
      <div class="card">
         <div class="bookCover" style="background-image: url('https://covers.openlibrary.org/b/olid/OL3572399M-M.jpg');">
         </div>
         <div class="bookText">
            Bobby Pendragon is a seemingly normal fourteen-year-old boy. He has a family, a home, and even Marley, his beloved dog. But there is something very special about Bobby. He is going to save the world. And not just Earth as we know it. Bobby is slowly starting to realize that life in the cosmos isn't quite what he thought it was. And before he can object, he is swept off to an alternate dimension known as Denduron, a territory inhabited by strange beings, ruled by a magical tyrant, and plagued by dangerous revolution. If Bobby wants to see his family again, he's going to have to accept his role as savior, and accept it ...
         </div>
         <div class="bookDetails">
            <h3>The Merchant of Death</h3>
            <p>D.J. MacHale</p>
            <p>First Published: 2002</p>
            <p>Open Library link</p>
         </div>
      </div>
   </div>


</body>
</html>