<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>The Books Project</title>
   <!-- Link Favicon -->
   <link rel="icon" href="images/favicon.ico" type="image/x-icon">

   <!-- link stylesheet -->
   <link rel="stylesheet" href="styles/main.css">
</head>

<body class="gradient-background">

   <h1>The Book Project</h1>

   <div>
      <p>Search for a book to add to our DataBase.</p>
      <form action="/" method="post">
         <label for="bookSearch">Book Name: </label>
         <input type="text" id="bookSearch" name="bookTitle">
         <button>Submit</button>
      </form>
   </div>

   <div class="container">
      <div class="card">
         <div class="bookBack" style="background-image: url('https://covers.openlibrary.org/b/olid/OL3572399M-M.jpg');">
         </div>
         <div class="bookText">
            Bobby Pendragon is a seemingly normal fourteen-year-old guy. He has a great family, terrific friends, and a generally sweet life. But there is something very special about Bobby: he is going to save the world. Adapted from the prose fiction series, Pendragon, by D.J. MacHale
         </div>
         <div class="bookDetails">
            <h3>The Merchant of Death</h3>
            <p>D.J. MacHale</p>
            <p>First Published: 2002</p>
            <p>Rating</p>
         </div>
      </div>
   </div>


</body>
</html>