<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>The Books Project</title>
   <!-- Link Favicon -->
   <link rel="icon" href="images/favicon.ico" type="image/x-icon">

   <!-- link stylesheet -->
   <link rel="stylesheet" href="styles/main.css">
</head>
<body>

   <h1>The Book Project</h1>

   <div class="container">
      <div class="card">
         <div class="bookBack"></div>
         <div class="bookText">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione maxime nemo voluptas ad illum quia, hic odio voluptatibus, ipsum adipisci cumque cupiditate.
         </div>
      </div>

      <div class="card">
         <div class="bookBack"></div>
         <div class="bookText">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione maxime nemo voluptas ad illum quia, hic odio voluptatibus, ipsum adipisci cumque cupiditate.
         </div>
      </div>

      <div class="card">
         <div class="bookBack"></div>
         <div class="bookText">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione maxime nemo voluptas ad illum quia, hic odio voluptatibus, ipsum adipisci cumque cupiditate.
         </div>
      </div>

      <div class="card">
         <div class="bookBack"></div>
         <div class="bookText">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione maxime nemo voluptas ad illum quia, hic odio voluptatibus, ipsum adipisci cumque cupiditate.
         </div>
      </div>


      <div class="card">
         <div class="bookBack"></div>
         <div class="bookText">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione maxime nemo voluptas ad illum quia, hic odio voluptatibus, ipsum adipisci cumque cupiditate.
         </div>
      </div>
   </div>


</body>
</html>