#contain {
   margin: 10px auto;
   width: 90%;
   text-align: center;
   background-color: #011F3F;
   border: 3px solid black;
   border-radius: 20px;
   box-shadow: 6px 6px 15px #484848;
}

#level-title {
   font-family: 'Press Start 2P', cursive;
   font-size: 2rem;
   margin: 50px auto 25px;
   color: #FEF2BF;
}

.instruct {
   width: 85%;
   margin: 15px auto;
   padding: 15px;
   background-color: #dadada;
   border-radius: 22px;
   border: 1px solid black;
}

.instruct li {
   list-style: square;
}

.cont {
   display: block;
   width: 50%;
   margin: auto;
}

.btn {
   margin: 25px;
   display: inline-block;
   height: 175px;
   width: 175px;
   border: 10px solid black;
   border-radius: 20%;
}

.game-over {
   background-color: red;
   opacity: 0.8;
}

.red {
   background-color: red;
}

.green {
   background-color: green;
}

.blue {
   background-color: blue;
}

.yellow {
   background-color: yellow;
}

.pressed {
   box-shadow: 0 0 20px white;
   background-color: grey;
}
