#header1 {
    background-color: #2e86c1;
    margin: auto;
    padding: 15px;
    width: 50%;
    text-align: center;
    color: white;
    border-radius: 5px;
}

#name {
    font-size: 2.5em;
}

#about {
    background-color: #f7dc6f;
    padding: 15px;
    margin: auto;
    margin-top: 30px;
    width: 50%;
}

#aboutTitle {
    color: #515858;
    font-size: 2em;
}

#aboutDescr {
    color: #424949;
    font-size: 1.2em;
}

#projects {
    background-color: #d5f5e3;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    width: 50%;
}

#projectsTitle {
    color: #515858;
    font-size: 2em;
}

#project1, #project2 {
    columns: 27ae60;
    font-size: 1.2em;
    margin-left: 15px;
}

#foot {
    color: white;
    background-color: #aab7b8;
    padding: 10px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    width: 51%;
}

#contact {
    font-size: 1.2em;
}