@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
* {
  box-sizing: border-box;
}
body {
  position: absolute;
  top: 35%;
  left: 35%;
  transform: translate(-35%, -35%);
  font-family: "Roboto";
  color: #ffffff;
}
input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + label span {
  transform: scale(1.25);
}
input[type="radio"]:checked + label .burlywood {
  border: 3px solid #614827;
}
input[type="radio"]:checked + label .lightsalmon {
  border: 3px solid #88513b;
}
input[type="radio"]:checked + label .lemonchiffon {
  border: 3px solid #676128;
}
input[type="radio"]:checked + label .yellowgreen {
  border: 3px solid #374a11;
}
input[type="radio"]:checked + label .lightgreen {
  border: 3px solid #295829;
}
input[type="radio"]:checked + label .turquoise {
  border: 3px solid #195750;
}
input[type="radio"]:checked + label .lightskyblue {
  border: 3px solid #254152;
}
input[type="radio"]:checked + label .tomato {
  border: 3px solid #68271b;
}
input[type="radio"]:checked + label .plum {
  border: 3px solid #4b2a4b;
}
input[type="radio"]:checked + label .pink {
  border: 3px solid #651449;
}
label {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  cursor: pointer;
}
label:hover span {
  transform: scale(1.25);
}
label span {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease-in-out;
}
label span.burlywood {
  background: #deb887;
}
label span.lightsalmon {
  background: #ffa07a;
}
label span.lemonchiffon {
  background: #fffacd;
}
label span.yellowgreen {
  background: #9acd32;
}
label span.lightgreen {
  background: #90ee90;
}
label span.turquoise {
  background: #40e0d0;
}
label span.lightskyblue {
  background: #87cefa;
}
label span.tomato {
  background: #ff6347;
}
label span.plum {
  background: #dda0dd;
}
label span.pink {
  background: #ffc0cb;
}
